.home-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,  
        #FFFFFF 0%, 
        #dac6ff 30%,  
        #FFB647 50%,
        #B892FF 90%);
    z-index: -1;
}

.img-container {
    height: 100vh;
}


.img-container img {
    width: 100%;
    height: auto;
}

/*
.img-container video {
    width: 100%;
    height: auto;
}*/