.nav-menu {
    width: 100%;
    display: flex;
    padding: 20px;
    position: absolute;
    z-index: 10;
}

.nav-left,
.nav-right {
    width: 50%;
    display: flex;
    gap: 40px;
}

.nav-left {
    padding-right: 100px;
    justify-content: right;
}

.nav-right {
    padding-left: 150px;
    justify-content: left;
}

.mountain-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.mountain-option g {
    transition: fill 0.5s ease-in-out;
}

.mountain-option h3 {
    color: #0d14a1;
    font-family: "Sofia Sans", serif;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.mountain-option:hover g {
    fill: #F58A07;
}

.mountain-option:hover h3 {
    transform: scale(1.2);
    color: #131DE8;
}

@media (max-width: 450px) {
    .nav-menu {
        gap: 30px;
        justify-content: center;
        padding-top: 30px;
    }
    .nav-left,
    .nav-right {
        gap: 10px;
    }

    .nav-left {
        padding-right: 0;
    }
    
    .nav-right {
        padding-left: 0;
    }

    .mountain-option {
        gap: 0;
    }

    .mountain-option svg {
        width: 70px;
        height: auto;
    }

    .mountain-option h3 {
        font-size: 1rem;
    }
}