.register-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.register-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form .input-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 800;
    color: #0D14A1;
}

form input,
#sport {
    padding: 10px 5px;
    border: 1px solid #0D14A1;
    border-radius: 0;
    font-size: 1rem;
    color: #0D14A1;
    transition: border 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form input:focus,
#sport:focus {
    border: 1px solid #F58A07;
    border-radius: 0;
    outline: none;
}

#sport option {
    font-family: "Sofia Sans", serif;
}

.skill-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

#skill-level {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input[type="radio"] {
    display: none;
}   
  
.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.custom-radio .radio-mark {
    width: 20px;
    height: 20px;
    border: 2px solid #0D14A1;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    transition: border-color 0.5s ease;
}

input[type="radio"]:checked + .radio-mark {
    background-color: #FFF;
}

.custom-radio .radio-mark::after {
    content: '\2714';
    font-size: 25px;
    color: #0D14A1;
    position: absolute;
    display: none;
    left: 20%;
    top: 40%;
    transform: translate(-20%, -60%);
}

.custom-radio input[type="radio"]:checked + .radio-mark {
    border-color: #F58A07;
}

input[type="radio"]:checked + .radio-mark::after {
    display: block;
}

.custom-radio .icon {
    margin-right: 5px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form button {
    padding: 10px 25px;
    background-color: #0D14A1;
    color: #FFF;
    border: 1px solid transparent;
    font-family: "Sofia Sans", serif;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-shadow: 1px 1px 2px #000;
    box-shadow: rgba(50, 50, 93, 0.8) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form button:hover {
    background-color: #FFF;
    border: 1px solid #0D14A1;
    color: #0D14A1;
    text-shadow: none;
    transform: scale(1.2);
    font-weight: 500;
}

form button:enabled {
    cursor: pointer;
}

.error {
    color: #F58A07;
    font-weight: 700;
}

.error-input {
    border: 1px solid #F58A07;
}