.mountain-container {
    width: 100%;
    background: linear-gradient(to bottom,  
        #FFFFFF 0%,  
        #F4EBFF 30%,
        #E5D4FF 55%, 
        #DAC6FF 75%, 
        #B892FF 100%
);
    position: relative;
}

.mountain-container .info-container {
    width: 100%;
    padding: 40px;
    display: flex;
    height: 100vh;
    align-items: center;
    gap: 30px;
}

.info-container .nav-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.single-nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.single-nav-wrapper p {
    font-size: 1.5rem;
    color: #0D14A1;
    font-weight: 700;
    transition: scale 0.5s ease-in-out;
}

.single-nav-wrapper .img-wrapper {
    width: 80px;
    height: 80px;
    background-color: #131DE8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(15, 20, 200, 0.55) 0px 13px 27px -5px, rgba(5, 10, 120, 0.75)  0px 8px 16px -8px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, fill 0.4s ease, scale 0.5s ease-in-out;
}

.single-nav-wrapper:hover .img-wrapper {
    background-color: #F58A07;
    box-shadow: rgba(15, 20, 200, 0.85) 0px 8px 16px -4px,rgba(5, 10, 120, 0.85) 0px 4px 8px -6px;
    scale: 1.1;
}

.single-nav-wrapper:hover p {
    color: #131DE8;
    scale: 1.2;
}

.active {
    background-color: #F58A07 !important;
}

.active g {
    fill: #FFF;
}

.info-container .logo-desc-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    position: relative;
    z-index: 2;
}

.mountain-container .info-container .logo-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 90%;
    height: auto;
}

.details {
    display: flex;
    width: 50%;
    gap: 30px;
    position: relative;
    z-index: 2;
}

.details .pass-container {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.details .pass-container img {
    height: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;;
}

.details .pass-container img:hover {
    transform: scale(1.1) rotate(5deg);
}

.details .pass-container form {
    width: 90%;
    padding: 30px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: rgba(15, 20, 200, 0.55) 0px 13px 27px -5px, rgba(5, 10, 120, 0.75)  0px 8px 16px -8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pass-container form .prompt-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #B892FF;
}

.pass-container form .prompt-message p {
    width: 50%;
    font-size: 1rem;
    font-weight: 800;
    color: #0D14A1;
}

.pass-container form .prompt-message .mountain-icon {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-container form .prompt-message .mountain-icon img {
    width: 100%;
    height: auto;
}

.pass-container form .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pass-container form label {
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    color: #0D14A1;
}

.pass-container form input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 0;
    font-size: 1rem;
    color: #131DE8;
    transition: border 0.5s ease;
    box-shadow: rgba(15, 20, 200, 0.35) 0px 6px 12px -4px, rgba(5, 10, 120, 0.5) 0px 4px 8px -6px;
    font-family: "Sofia Sans", serif;
}

.regular-input {
    border: 1px solid #131DE8;
}

form input:focus {
    border: 1px solid #F58A07;
    border-radius: 0;
    outline: none;
}

.error {
    color: #F58A07;
    font-weight: 700;
}

.error-input {
    border: 1px solid #F58A07;
}

.details .pass-container form .btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pass-container form .btns-container button {
    width: 80%;
    padding: 10px 25px;
    background-color: #131DE8;
    color: #FFF;
    border: 1px solid transparent;
    font-family: "Sofia Sans", serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    box-shadow: rgba(30, 60, 180, 0.8) 0px 13px 27px -5px, rgba(10, 20, 150, 0.4) 0px 8px 16px -8px;
}

.pass-container form .btns-container button:hover {
    background-color: #FFF;
    border: 1px solid #131DE8;
    color: #131DE8;
    text-shadow: none;
    transform: scale(1.2);
    font-weight: 500;
}

.info {
    width: 100%;
    font-size: 2rem;
    color: #131DE8;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}

.info-container .icons-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.icons-container .icons-row {
    display: flex;
    gap: 20px;
}

.icons-container .icon-with-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    position: relative;
}

.icon-with-title .title {
    font-size: 2rem;
    color: #131DE8;
    font-weight: 700;
    transition: scale 0.5s ease-in-out;
    text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.9);
}

.icon-with-title .single-icon {
    background-color: #FEFDFF;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(15, 20, 200, 0.55) 0px 13px 27px -5px, rgba(5, 10, 120, 0.75)  0px 8px 16px -8px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, fill 0.4s ease, scale 0.5s ease-in-out;
}

.icon-with-title:hover .single-icon {
    background-color: #131DE8;
    box-shadow: rgba(15, 20, 200, 0.85) 0px 13px 27px -5px, rgba(5, 10, 120, 0.85)  0px 8px 16px -8px;
    scale: 1.1;
}

.icon-with-title:hover .single-icon g {
    fill: #fff;
}

.icon-with-title:hover .title {
    color: #F58A07;
    scale: 1.2;
}

.mountain-container .img-container {
    width: auto;
    height: 90%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.mountain-container .img-container img {
    width: auto;
    height: 80%;
    opacity: 30%;
}

.list-container {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scroll-behavior: smooth;
}

.list-container .single-row {
    display: flex;
    border-bottom: 2px solid #0D14A1;
    padding: 5px 0px;
    justify-content: space-between;
}

.single-row .row-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
}

.row-info .slope-name {
    font-size: 1.3rem;
    color: #0D14A1;
    font-weight: 700;
    text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.7);
}

.row-info .slope-details {
    font-size: 1.1rem;
    color: rgb(108, 94, 146);
    font-weight: 700;
}

.single-row .availability-icon {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30%;
}

.list-container::-webkit-scrollbar {
    width: 8px;
}

.list-container::-webkit-scrollbar-track {
    background: #e2ddf8;
    border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb {
    background: #beb5eb;
    border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb:hover {
    background: #400040;
}

@media (max-width: 450px) {
    .mountain-container .info-container {
        flex-direction: column;
        padding: 15px 5px;
        gap: 5px;
    }

    .mountain-container .nav-container {
        flex-direction: row;
        gap: 30px;
    }

    .single-nav-wrapper .img-wrapper {
        width: 60px;
        height: 60px;
    }

    .single-nav-wrapper .img-wrapper svg {
        width: 50px;
        height: 50px;
    }

    .single-nav-wrapper p {
        font-size: 1rem;
    }

    .info-container .logo-desc-wrapper {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .mountain-container .info-container .logo-container {
        width: 60%;
    }

    .logo-desc-wrapper .logo-container img {
        width: 100%;
        height: auto;
    }

    .logo-desc-wrapper .info {
        font-size: 1rem;
    }

    .details {
        margin-top: 30px;
        width: 100%;
        gap: 10px;
        justify-content: space-between;
    }

    .details .icons-container {
        width: 50%;
        position: relative;
        z-index: 100;
    }

    .icons-container .icons-row {
        width: 100%;
        gap: 10px;
    }

    .icons-row .icon-with-title {
        width: 50%;
    }

    .icon-with-title .title {
        font-size: 1.2rem;
    }

    .icon-with-title .single-icon {
        width: 70px;
        height: 70px;
    }

    .icon-with-title .single-icon svg {
        width: 40px;
        height: 40px;
    }

    .details .pass-container {
        width: 40%;
        height: auto;
        justify-content: right;
        align-self: flex-end;
    }

    .details .pass-container img {
        height: auto;
        width: 100%;
    }

    .details .pass-container form {
        width: 100%;
        padding: 10px;
        gap: 15px;
    }

    .pass-container form .prompt-message p {
        font-size: 0.9rem;
        font-weight: 700;
    }
    
    .pass-container form .prompt-message .mountain-icon {
        width: 40%;
    }

    .pass-container form label {
        font-size: 0.9rem;
        font-weight: 700;
    }
    
    .pass-container form input {
        padding: 5px 2px;
        font-size: 0.9rem;
    }

    .details .pass-container form .btns-container {
        gap: 10px;
    }
    
    .pass-container form .btns-container button {
        width: 90%;
        padding: 8px 15px;
        font-size: 0.9rem;
        font-weight: 500;
        box-shadow: rgba(15, 30, 90, 0.5) 0px 13px 27px -5px, rgba(10, 20, 150, 0.4) 0px 8px 16px -8px;
    }

    .list-container {
        width: 250px;
        height: 120px;
        position: absolute;
        top: -130%;
        left: 60%;
        transform: translateX(-20%);
        padding: 10px;
        z-index: 100;
    }
    
    .row-info .slope-name {
        font-size: 1rem;
        font-weight: 600;
    }
    
    .row-info .slope-details {
        font-size: 0.8rem;
        font-weight: 600;
    }
    
    .single-row .availability-icon {
        width: 20%;
    }
}