.welcome-msg {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-160%);
    padding: 50px;
    display: flex;
    font-family: "Sofia Sans", serif;
    transition: transform 0.8s ease-in-out;
    box-shadow: rgba(15, 20, 200, 0.35) 0px 6px 12px -4px, rgba(5, 10, 120, 0.5) 0px 4px 8px -6px;
}

.pulsing {
    animation: pulseLeftRight 3s infinite ease-out;
}

.stay-center {
    animation: none;
    transform: translateX(-50%);
}

.welcome-msg.transitioning {
    animation: none !important;
}

.information {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 80%;
}

.auth-prompt {
    font-size: 1.5rem;
    text-align: center;
    color: #131DE8;
    font-weight: 700;
}

.larger {
    font-size: 2.3rem;
    color: #F58A07;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(79, 78, 78, 0.7);
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.buttons-container button {
    padding: 10px 25px;
    background-color: #131DE8;
    color: #FFF;
    border: none;
    font-family: "Sofia Sans", serif;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-shadow: 1px 1px 2px #000;
    box-shadow: rgba(15, 20, 200, 0.35) 0px 6px 12px -4px, rgba(5, 10, 120, 0.5) 0px 4px 8px -6px;
}

.buttons-container button:hover {
    background-color: #FFF;
    border: 2px solid #131DE8;
    color: #131DE8;
    transform: scale(1.2);
    text-shadow: none;
    box-shadow: rgba(15, 20, 200, 0.65) 0px 6px 12px -4px, rgba(5, 10, 120, 0.65) 0px 4px 8px -6px;
}

.btn-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.icon-container {
    padding: 10px 25px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(15, 20, 200, 0.35) 0px 6px 12px -4px, rgba(5, 10, 120, 0.5) 0px 4px 8px -6px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, fill 0.4s ease, scale 0.5s ease-in-out;
}

.icon-container p {
    color: #131DE8;
    font-size: 1.5rem;
    font-weight: 700;
}

.icon-container:hover {
    background-color: #131DE8;
    box-shadow: rgba(15, 20, 200, 0.65) 0px 6px 12px -4px, rgba(5, 10, 120, 0.65) 0px 4px 8px -6px;
    scale: 1.1;
}

.icon-container:hover g {
    fill: #fff;
}

.icon-container:hover p {
    color: #fff;
}

.img-container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 20%;
    position: relative;
}

.img-container img {
    width: auto;
    height: 15rem;
}

.speech-bubble {
    position: absolute;
    top: 45px;
    right: -20%;
    transform: translateX(20%);
    background: white;
    color: #131DE8;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    box-shadow: rgba(15, 20, 200, 0.35) 0px 6px 12px -4px, rgba(5, 10, 120, 0.5) 0px 4px 8px -6px;
    max-width: 200px;
    animation: pulse 1.5s infinite ease-in-out;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10%;
    transform: translateX(-10%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

@keyframes pulseLeftRight {
    0%, 100% { transform: translateX(-162%); }
    50% { transform: translateX(-158%); }
}

@media (max-width: 450px) {
    .welcome-msg {
        padding: 20px;
        top: 130px;
        height: 75vh;
        width: 80%;
    }

    .information {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    .buttons-container {
        width: 75%;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
    }

    .auth-prompt {
        font-size: 1rem;
    }

    .larger {
        font-size: 1.3rem;
    }

    .buttons-container button {
        padding: 10px;
        font-size: 1rem;
    }

    .img-container {
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .img-container img {
        width: auto;
        height: 12rem;
        opacity: 30%;
    }

    .speech-bubble {
        top: -40%;
        right: -35%;
        transform: translateX(35%);
        font-size: 13px;
    }

    .icon-container {
        padding: 5px 10px;
    }

    .icon-container p {
        font-size: 1rem;
        font-weight: 700;
    }

    .icon-container svg {
        width: 50px;
        height: 50px;
    }
}