<section class="password-container">
    <form [formGroup]="form" (ngSubmit)="submitPassword($event)">
        <div class="input-group">
            <label for="currentPassword">Текуща парола</label>
            <input type="password" name="currentPassword" id="currentPassword" placeholder="••••••••" [class]="isFieldEmpty('currentPassword') ? 'error-input' : 'regular-input'" formControlName="currentPassword">
            @if (isFieldEmpty('currentPassword')) {
                <p class="error">*Моля, въведете своята текуща парола.</p>
            }
        </div>
        <div class="input-group">
            <label for="newPassword">Нова парола</label>
            <input type="password" name="newPassword" id="newPassword" placeholder="••••••••" [class]="isFieldEmpty('newPassword') ? 'error-input' : 'regular-input'" formControlName="newPassword"> 
            @if (isFieldEmpty('newPassword')) {
                <p class="error">*Моля, въведете нова парола.</p>
            }   
        </div>
        <div class="input-group">
            <label for="reNewPassword">Повторете новата парола</label>
            <input type="password" name="reNewPassword" id="reNewPassword" placeholder="••••••••" [class]="isFieldEmpty('reNewPassword') ? 'error-input' : 'regular-input'" formControlName="reNewPassword"> 
            @if (isFieldEmpty('reNewPassword')) {
                <p class="error">*Моля, въведете повторно новата парола.</p>
            }   
        </div>
        <div class="btn-wrapper">
            <button type="submit">Смени парола</button>
            <button type="button" (click)="cancelEdit()">Отмени</button>
        </div>
        
        @if (errorMsg != null) {
            <p class="error">*{{ this.errorMsg }}</p>
        } @else if (form.invalid && this.submitted) {
            <p class="error">*Не забравяйте да попълните всички полета.</p>
        }
    </form>
</section>
