.home-container {
    background: linear-gradient(#FFF1D5, #FFAE0F, #FFAE0F, #FFAE0F, #FFAE0F, #FFAE0F, #FFF1D5);
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 20px;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.home-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    object-fit: fill;
    image-rendering: auto;
}