<section class="profile-container" [class.expanded]="isEditingPassword || isEditingProfile || isShowingPasses">
    <div class="user-data">
        <div class="avatar-container">
            <img src="{{this.avatarPath}}" alt="Avatar Image."/>
        </div>
        <div class="personal-info">
            <div class="name-container">
                <p>{{user?.firstName}} {{user?.lastName}}</p>
            </div>
            <div class="row-container">
                <div class="img-container">
                    <img src="icons/walkie-talkies.svg" alt="Walkie Talkie Icon">
                </div>
                <p>{{user?.phone}}</p>
            </div>
            <div class="row-container">
                <div class="img-container">
                    <img src="icons/mail.svg" alt="Envelope Icon">
                </div>
                <p>{{user?.email}}</p>
            </div>
            <div class="row-container">
                <div class="img-container">
                    <img src="{{this.skillIcon}}" alt="Skill Icon">
                </div>
                <p>{{user?.skillLevel}}</p>
            </div>
            <div class="row-container">
                <div class="img-container">
                    <img src="icons/id-card.svg" alt="ID Card Icon">
                </div>
                <p>{{this.ageGroup}}</p>
            </div>
            <img class="logo" src="logo.png" alt="Peak Logo">
        </div>
    </div>
    <div class="btn-container">
        <button (click)="logout()" aria-label="Logout">
            <img src="icons/logout.svg" alt="Logout Icon">
            <p class="btn-title">Изход от профил</p>
        </button>
        <button (click)="toggleChangePassword()" aria-label="Change Password" [class.active]="isEditingPassword">
            <img src="icons/change-password.svg" alt="Change Password Icon">
            <p class="btn-title">Смени парола</p>
        </button>
        <button (click)="toggleEditProfile()" aria-label="Edit Profile" [class.active]="isEditingProfile">
            <img src="icons/edit-profile.svg" alt="Edit Profile Icon">
            <p class="btn-title">Редактирай профил</p>
        </button>
        <button (click)="toggleShowPasses()" aria-label="Show Passes" [class.active]="isShowingPasses">
            <img src="icons/ski-pass.svg" alt="Ski Pass Icon">
            <p class="btn-title">Моите карти</p>
        </button>  
    </div>
    @if (isEditingPassword) {
        <app-edit-password [user]="user!" class="edit-password-form" (cancel)="toggleChangePassword()" (passwordUpdated)="onPasswordUpdated()" />
    } @else if (isEditingProfile) {
        <app-edit-profile [user]="user!" class="edit-profile-form" (cancel)="toggleEditProfile()" (profileUpdated)="onProfileUpdated($event)" />
    } @else if (isShowingPasses) {
        <app-passes [user]="user!" class="show-passes-screen" (cancel)="toggleShowPasses()" (profileUpdated)="onPassesShown()" />
    }
</section> 