<section class="profile-container">
    <div class="user-data">
        <div class="name-avatar-wrapper">
            <div class="avatar-container">
                @if (user?.sport == 'Snowboarder') {
                    <img src="bear-avatar.png" alt="Bear as the avatar"/>
                }
            </div>
            <svg class="full-name" width="200" height="100">
                <defs>
                    <path id="curve" d="M 10,10 A 90,90 0 0,0 190,10" fill="transparent" />
                </defs>
                <text class="name" width="300">
                    <textPath href="#curve" startOffset="80%" text-anchor="middle">
                        {{user?.firstName}} {{user?.lastName}}
                    </textPath>
                </text>
            </svg>            
        </div>
    </div>
    <div>
        <p>Телефон: {{user?.phone}}</p>
        <p>Имейл: {{user?.email}}</p>
        <p>Дата на раждане: {{user?.birthDate}}</p>
        <p>Спорт: {{user?.sport}}</p>
        <p>Умения: {{user?.skillLevel}}</p>
    </div>
    <button (click)="logout()">Изход</button>
</section>
