<section class="login-container">
    <div class="img-container">
        <img src="bear-with-snowboard.png" alt="A bear with sunglasses and a snowboard."/>
        <div class="speech-bubble">Още нямаш профил? Време е да се спуснеш в приключението!<br><span class="hyperlink" [routerLink]="['/register']">Присъедини се сега!</span></div>
    </div>
    <form [formGroup]="form" (ngSubmit)="login()">
        <div class="input-group">
            <label for="email">Имейл</label>
            <input type="email" name="email" id="email" placeholder="myemail@gmail.com" [class]="isFieldEmpty('email') ? 'error-input' : 'regular-input'" formControlName="email">
            @if (isFieldEmpty('email')) {
                <p class="error">*Моля, въведете своя имейл.</p>
            }
        </div>
        <div class="input-group">
            <label for="password">Парола</label>
            <input type="password" name="password" id="password" placeholder="••••••••" [class]="isFieldEmpty('password') ? 'error-input' : 'regular-input'" formControlName="password"> 
            @if (isFieldEmpty('password')) {
                <p class="error">*Моля, въведете паролата си.</p>
            }   
        </div>
        <button>Влез в профил!</button>
        @if (errorMsg != null) {
            <p class="error">*{{ this.errorMsg }}</p>
        } @else if (form.invalid && this.submitted) {
            <p class="error">*Не забравяйте да попълните всички полета.</p>
        }
    </form>
</section>