.login-container {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: "Sofia Sans", serif;
    transition: transform 0.8s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

form .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: #0D14A1;
}

form input {
    padding: 10px 5px;
    border: 1px solid #0D14A1;
    border-radius: 0;
    font-size: 1.2rem;
    color: #0D14A1;
    transition: border 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form input:focus {
    border: 1px solid #F58A07;
    border-radius: 0;
    outline: none;
}

form button {
    padding: 10px 25px;
    background-color: #0D14A1;
    color: #FFF;
    border: 1px solid transparent;
    font-family: "Sofia Sans", serif;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-shadow: 1px 1px 2px #000;
    box-shadow: rgba(50, 50, 93, 0.8) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form button:hover {
    background-color: #FFF;
    border: 1px solid #0D14A1;
    color: #0D14A1;
    text-shadow: none;
    transform: scale(1.2);
    font-weight: 500;
}

form button:enabled {
    cursor: pointer;
}

.register-prompt {
    margin-top: 20px;
    font-weight: 800;
    font-size: 1.5rem;
    color: #0D14A1;
    text-shadow: 1px 1px 2px #ffffff;
    text-align: center;
}

.hyperlink {
    transition: color 0.5s ease;
    margin-left: 3px;
}

.hyperlink:hover {
    color: #F58A07;
    cursor: pointer;
}