<section class="login-container">
    <form [formGroup]="form" (ngSubmit)="login()">
        <div class="input-group">
            <label for="email">Имейл</label>
            <input type="email" name="email" id="email" formControlName="email">
        </div>
        <div class="input-group">
            <label for="password">Парола</label>
            <input type="password" name="password" id="password" formControlName="password">    
        </div>
        <button [disabled]="form.invalid">Влез в профил!</button>
    </form>
    <p class="register-prompt">Още нямаш профил? Време е да се спуснеш в приключението!<br><span class="hyperlink" [routerLink]="['/register']">Присъедини се сега!</span></p>
</section>